/* #region-Variables */
:root {
  /* Colors */
  --cl-primary-iris: #4d5ae5;
  --cl-active-ocean: #404bbf;
  --cl-dark-navy-blue: #2e2f42;
  --cl-dark-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --cl-success-green: #31d0aa;
  --cl-text-slate: #434455;
  --cl-subtle-text-light-slate: #8e8f99;
  --cl-accent-cornflower: #e7e9fc;
  --cl-light-cloud: #f4f4fd;
  --cl-hero-gray: rgba(46, 47, 66, 0.7);
  --cl-white-background: #ffffff;
  --cl-modal-dairy: #fcfcfc;

  /* Fonts */
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;

  /* Animation */
  --transition-hover-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-scale: scale(1.03);
}
/* #endregion */

/* #region -Base */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--cl-text-slate);
  background-color: #94a5d0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* #endregion */

/* #region -Button */

.button-85 {
  padding: 1.5em 3em;
  font-size: 1.2em;
  border: none;
  outline: none;
  color: rgb(7, 208, 24);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:hover,
.button-85:focus {
  transform: var(--transform-scale);
}

.button-85:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn {
  display: block;
  min-width: 169px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: auto;
  padding: 16px 32px;
  border-radius: 4px;
  color: var(--cl-white-background);
  background-color: var(--cl-primary-iris);
  transition: background-color var(--transition-hover-focus);
}

/* #endregion */

/* #region-1-Page */

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* #endregion */

/* #region Gallery */

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.gallery-item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery-image:hover {
  transform: scale(1.03);
}

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery-link:hover {
  cursor: zoom-in;
}

.gallery-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #endregion */

/* #region-Form */

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
}

.feedback-form {
  width: 408px;
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background-color: #ffffff96;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2e2f42;
  font-family: Montserrat;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.modal-form-input,
.modal-form-message {
  font-family: Montserrat;
  font-size: 16px;
  padding: 16px;
  width: 100%;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: rgb(26 30 102);
  background-color: transparent;
  border: 1px solid rgb(26 30 102);
  outline: transparent;
  transition: border-color var(--transition-hover-focus);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: rgba(12, 58, 222, 0.659);
}

.modal-form-message {
  resize: none;
  padding: 16px;
  height: 80px;
}

.modal-form-textarea-box {
  margin-bottom: 16px;
}

/* #endregion */
